@font-face {
  font-family: 'Visby CF';
  src: url('../assets/visbycf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Visby CF';
  src: url('../assets/visbycf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav-link-person:hover, .nav-link-person:focus {
  background-color: #C1C7CC;
}

.navbar-brand, .nav-link {
  font-family: 'Visby CF', sans-serif;
}
