body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
  }

  .left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #company-title {
    position: absolute;
    top: 2%;
    left: 5%;
  }

  .right-side {
    height: 100%;
    background-image: url("../images/login-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0047FF;
    background-position: center;
  }

  .btn-login {
    background-color: #007bff;
    color: #fff;
  }